<h1><%= @project.name %></h1>

<% if @project.todos.present? %>
  
  <h2>Project Todos</h2>

  <div class="row">
    <div class="col-md-6">
      <ul class="list-group">
      <% @project.todos.each do |todo| %>
        <li class="list-group-item"><%= todo.name %></li>
      <% end %>
      </ul>
    </div>
  </div>

<% else %>

  <div class="well">
    No todos added yet.
    <%= link_to "Add some todos", edit_project_path(@project) %> to your project.
  </div>

<% end %>

<%= link_to "Edit Project", edit_project_path(@project), class: "btn btn-primary" %>
