/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* forms */

.error_explanation {
  h2 {
    font-size: 1.2em;
    margin-top: 0;
  }
  ul {
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* Sortable form fields */

.sortable {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .handle {
    cursor: pointer;
  }

  .placeholder {
    border: 2px dashed #eee;
    min-height: 40px;
  }

  .remove {
    margin-left: -16px;
    padding: 8px 0 0;
    cursor: pointer;
  }
}
